.vc-reaction-timestamps-name {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 4px;
}

.vc-reaction-timestamps-time {
    color: var(--text-muted);
    font-size: 12px;
    line-height: 16px;
}
