.vc-random-voice-record {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.vc-random-voice-keybind {
    color: "var(--text-muted)"
}

.vc-random-voice-recording {
    display: flex;
    gap: 8px;
    align-items: center;
}